     <ion-view view-title="Home Manager 2015 - [Administración]">
        <ion-nav-bar class="bar-positive">
          <ion-nav-back-button>
          </ion-nav-back-button>
        </ion-nav-bar>
        <ion-content padding="true">
          <p>ADMINISTRACIÓN</p>
          <p> 
          <a class="button icon ion-home" href="#/tab/home"> Inicio</a>
          <a class="button icon icon-right ion-chevron-right" href="#/bancos">Bancos</a>
          <a class="button icon icon-right ion-chevron-right" href="#/cuentas">Cuentas</a>
          <a class="button icon icon-right ion-chevron-right" href="#/gastos">Gastos</a>
          <a class="button icon icon-right ion-chevron-right" href="#/movs">Movimientos</a>
          <a class="button icon icon-right ion-chevron-right" href="#/misdatos">Mis Datos</a>
          <a class="button icon icon-right ion-chevron-right" href="#/contrasena">Contraseña</a>
          <a class="button icon icon-right ion-chevron-right" href="#/familias">Familias</a> 
          </p>
        </ion-content>
      </ion-view>