<ion-view view-title="Home Manager Mobile" >
  <ion-content padding="true" class="scroll-bg-tres" ng-init="getCuentas()">
    <ion-refresher on-refresh="refreshCuentas()"></ion-refresher>
    <br>
    <div align="center" class="transparent letra-grande royal" >
      Mis Cuentas
    </div> 
    <ion-slide-box does-continue="true"show-pager="true" delegate-handle="image-viewer" on-slide-changed="slideHasChanged($index)" >
      <ion-slide class="transparent letra-chica" ng-repeat="miscuentas in dataq3 | orderBy : 'nom_cta_cte'">
        <div align="center" class="card transparent  letra-mediana" >
          <a  class='color-blanco' href="#/tab/cuentasdetalle" >
          <button class="button button-block transparent  letra-mediana color-blanco" ng-click="getDetalleCuenta('{{miscuentas.num_cta_cte}}')">
          {{miscuentas.nom_cta_cte | uppercase}} <br>
          Saldo: {{miscuentas.saldo_cta  | currency : CLP : 0}}
          </button>
          </a>
          <br> &nbsp;
        </div>
      </ion-slide>
    </ion-slide-box>
    <br>
    <div align="center" class="transparent letra-grande royal">
      Cuentas Familiares
    </div> 
    <ion-slide-box does-continue="true"show-pager="true" delegate-handle="image-viewer" on-slide-changed="slideHasChanged($index)" >
      <ion-slide class="transparent letra-chica"  ng-repeat="famcuentas in dataq4 |  orderBy : 'nom_cta_cte'">
        <div align="center" class="card transparent  letra-mediana" >
          <a  class='color-blanco' href="#/tab/cuentasdetalle" >
            <button class="button button-block  transparent  letra-mediana color-blanco" ng-click="getDetalleCuenta('{{famcuentas.num_cta_cte}}')">
            {{famcuentas.nom_cta_cte | uppercase}} <br>
            Saldo: {{famcuentas.saldo_cta  | currency : CLP : 0}}
            </button>
          </a>
          <br> &nbsp;
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>