<ion-view view-title="Home Manager Mobile" cache-view="false" ng-controller="CuentasTabCtrl">
  <ion-content padding="true" class="scroll-bg-cuatro" ng-init="refreshDetalleCuenta()">
       <ion-refresher on-refresh="refreshDetalleCuenta()">
       </ion-refresher>
       <div class="row">
         <div class="col">
           <div class="container wrap">
              Cuenta: {{cuenta}}
           </div>
         </div>
       </div>
       <div class="row">
          <div class="col col-80">
            <form name="FormMes" ng-controller="CuentasTabCtrl" ng-submit="refreshDetalleCuenta()">
             <div align="center" class="row color-blanco">
               <input type="month" class="transparent input-mes" ng-model="consultafecha" value="{{date | date:'MM-yyyy'}}">
                  <button class="button button-clear">
                  <i class="icon ion-ios-search-strong"></i>
                  </button> 
             </div>
            </form>
          </div>
          <div class="col col-20" ng-controller="ModalCtrl">
            <button class="button button-clear" ng-click="modal.show()">
              <i class="icon ion-ios-plus-outline"></i>
            </button> 
          </div>
       </div>
       <div class="card transparent"  delegate-handle="image-viewer" ng-controller="CuentasTabCtrl" ng-repeat="detalle in datadetalleXcuenta | orderBy : '-mov_fec_mov'">
            <div class="item item-text-wrap transparent letra-mediana">
               <div class="row color-blanco">
                  <div class="col col-33">
                     {{detalle.mov_fec_mov | limitTo:10}} 
                  </div> 
                  <div class="col">
                     {{detalle.tip_mov_desc}} 
                  </div> 
               </div>
               <div class="row color-blanco">
                  <div class="col col-33">
                   <span ng-show="{{detalle.mov_mnt_mov}} > 0" class="color-blanco"> {{detalle.mov_mnt_mov | currency : CLP : 0}}  </span>
                   <span ng-show="{{detalle.mov_mnt_mov}} < 0" class="royal">  {{detalle.mov_mnt_mov | currency : CLP : 0}}  </span> 
                  </div>
                  <div align="center" class="col col-33">
                    <span ng-show="{{detalle.mov_mnt_mov}} > 0" class="ion-ios-cloud-upload-outline color-blanco letra-grande"> </span>       
                    <span ng-show="{{detalle.mov_mnt_mov}} < 0" class="ion-ios-cloud-download royal letra-grande"> </span>
                  </div> 
                  <div align="right" class="col col-33">
                    <span ng-show="{{detalle.mov_sal_cta}} >= 0" class="color-blanco"> {{detalle.mov_sal_cta | currency : CLP : 0}}</span>
                    <span ng-show="{{detalle.mov_sal_cta}} < 0" class="royal"> {{detalle.mov_sal_cta | currency : CLP : 0}}</span>
                  </div> 
               </div>
               <div class="row color-blanco">
                  <div class="col">
                     {{detalle.mov_obs}} 
                  </div> 
               </div>
            </div>
         </div>
  </ion-content>
</ion-view>