<ion-header-bar class="bar bar-header bar-positive">
</ion-header-bar>
<ion-content has-header="true">
  <div class="list">
    <a menu-close class="item letra-grande" menu-toggle="right" href="#/tab/home">
      <i class="ion-ios-home-outline"></i></a>
    <a menu-close class="item letra-grande" menu-toggle="right" href="#/tab/home">
      <i class="ion-ios-gear-outline"></i></a>
    <a menu-close class="item letra-grande" menu-toggle="right" href="#/tab/cuentas">
    <i class="ion-social-usd-outline"></i></a>
  </div>
</ion-content>
<ion-footer-bar class="bar bar-stable">
  <a menu-close class="button button-clear pull-right" href="#/sign-in"><i class="ion-log-out"></i></a>
</ion-footer-bar>