    <ion-view view-title="Home Manager Mobile">
       <ion-content  has-header="true" padding="true" class="scroll-bg-uno">
          <div class="container wrap" >
             <div class="item item-avatar transparent">
                <img src="https://lh3.googleusercontent.com/-agqmNCLCSgA/Tsw4hDGyFvI/AAAAAAAABFs/fa3HHjVYccA/w140-h140-p/11">
                <p>{{nombre}} {{rut}}</p>
                <p>{{email}}</p>
             </div>
          </div>
         <ion-slide-box does-continue="true" align="center"show-pager="true" on-slide-changed="slideHasChanged($index)">
            <ion-slide>
              <div class="card wrap" >
                <div ng-controller="CuentasTabCtrl">
                  <a href="#/tab/cuentas">
                  <button class="button icon-left ion-social-usd-outline button-positive">
                    Revisar mis Cuentas
                  </button>
                  </a>
                </div>
               </div>
            </ion-slide>
            <ion-slide >
              <div class="card wrap" >
                <div ng-controller="CuentasTabCtrl">
                  <a href="#/tab/cuentas">
                  <button class="button icon-left ion-ios-cart-outline button-positive">
                    Ingresar Gastos
                  </button>
                  </a>
                </div>
                <br>
                <div ng-controller="CuentasTabCtrl">
                  <a href="#/tab/cuentas">
                  <button class="button icon-left ion-ios-calculator-outline button-positive">
                    Liquidar Gastos</button>
                  </a>
                </div>
               </div>
            </ion-slide>
            <ion-slide>
              <div class="card wrap" >
                <div ng-controller="CuentasTabCtrl">
                  <button class="button icon-left ion-ios-gear-outline button-positive">
                    Mis Configuraciones
                  </button>
                </div>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="card wrap" >
                <div ng-controller="CuentasTabCtrl">
                  <button class="button icon-left ion-ios-gear-outline button-positive">
                    Administración
                  </button>
                </div>
              </div>
            </ion-slide>
         </ion-slide-box>
       </ion-content>
    </ion-view>  
