 <ion-side-menus enable-menu-with-back-views="true">

  <ion-side-menu-content>
  <!-- Main content, usually <ion-nav-view> -->
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="right">
         <button class="button button-icon icon ion-navicon" menu-toggle="right">
         </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-view view-title="Home Manager Mobile">
       <ion-content  has-header="true" padding="true" class="scroll-bg-uno">
          <div class="container wrap" >
             <div class="item item-avatar transparent">
                <img src="https://lh3.googleusercontent.com/-agqmNCLCSgA/Tsw4hDGyFvI/AAAAAAAABFs/fa3HHjVYccA/w140-h140-p/11">
                <p>{{nombre}} {{rut}}</p>
                <p>{{email}}</p>
             </div>
          </div>
         <ion-slide-box does-continue="true" align="center"show-pager="false" on-slide-changed="slideHasChanged($index)">
            <ion-slide>
               <div class="card wrap" >
                  <div class="item item-text-wrap wrap">
                     CUENTAS
                  </div>
                  <br>
                    <div ng-controller="CuentasTabCtrl">
                     <a href="#/tab/cuentas">
                     <button class="button icon-left ion-social-usd-outline button-positive">Revisar mis Cuentas</button>
                     </a>
                    </div>
               </div>
            </ion-slide>
            <ion-slide >
              <div class="card wrap" >
                  <div class="item item-text-wrap wrap">
                     GASTOS
                  </div>
                  <br>
                    <div ng-controller="CuentasTabCtrl">
                     <a href="#/tab/cuentas">
                     <button class="button icon-left ion-ios-cart-outline button-positive">Ingresar Gastos</button>
                     </a>
                    </div>
                    <br>
                    <div ng-controller="CuentasTabCtrl">
                     <a href="#/tab/cuentas">
                     <button class="button icon-left ion-ios-calculator-outline button-positive">Liquidar Gastos</button>
                     </a>
                    </div>
               </div>
            </ion-slide>
            <ion-slide>
                <div class="card wrap" >
                    <div class="item item-text-wrap wrap">
                       ADMINISTRAR
                    </div>
                    <br>
                     <button class="button icon-left ion-social-usd-outline button-positive">Cuentas</button>
                     <button class="button icon-left ion-ios-cart-outline button-positive">Gastos</button>
                     <button class="button icon-left ion-ios-cart button-positive">Grupos de Gastos</button>
                     <button class="button icon-left ion-ios-shuffle button-positive">Movimientos</button>
                     <button class="button icon-left ion-ios-shuffle-strong button-positive">Grupos de Movimientos</button>
                     <button class="button icon-left ion-social-bitcoin-outline button-positive">Bancos</button>
                     <button class="button icon-left ion-ios-unlocked-outline button-positive">Cambiar Contraseña</button>
                     <button class="button icon-left ion-ios-people-outline button-positive">Usuarios</button>
                     <button class="button icon-left ion-ios-gear-outline button-positive">Mis Configuraciones</button>
                </div>
            </ion-slide>
         </ion-slide-box>
       </ion-content>
    </ion-view>  
  </ion-side-menu-content>

  <!-- Right menu -->
  <ion-side-menu side="right">
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">Opciones</h1>
    </ion-header-bar>
    <ion-content has-header="true">
       <div class="list">
          <a menu-close class="item item-icon-left" menu-toggle="right" href="#/tab/home">
            <i class="ion-ios-home-outline"></i> Inicio</a>
          <a menu-close class="item item-icon-left" menu-toggle="right" href="#/tab/home">
            <i class="ion-ios-gear-outline"></i> Administración</a>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-stable">
       <a menu-close class="button button-clear pull-right" href="#/sign-in"><i class="ion-log-out"></i> Salir</a>
    </ion-footer-bar>
  </ion-side-menu>

</ion-side-menus>

