<ion-view view-title="Ingreso a Home Manager Mobile">
    
       <ion-content class="padding scroll-bg">
            <div class="div-login">
                  <div class="row">
                      <div class="col col-10 col-offset-20 col-bottom letra-grande">
                           <i class="ion-person royal"></i>
                      </div>
                      <div class="col col-33">
                           <input type="text" class="input-rut" ng-init="user.username = '11636531-6'" ng-model="user.username" placeholder ="rut" autofocus> </input>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col col-10 col-offset-20 col-bottom letra-grande">
                       <i class="ion-lock-combination royal"></i>
                      </div>
                      <div class="col">
                          <input type="password" class="input-contrasena" ng-init="user.password = 'Tomas2015'" ng-model="user.password" placeholder="contraseña" />
                      </div>
                  </div>
                   <div class="row">
                      <div class="col col-67 col-offset-20">
                        <button class="button button-full button-royal rounded" ng-click="signIn(user)">
                              entrar
                        </button>
                      </div>
                  </div>
             </div>
           </div>  
</ion-content>
</ion-view>            
          <!-- <div class="login">
               <table width="100%">
                 <tr>
                    <td width="10%" align="left"><i class="ion-android-person" data-pack="android" data-tags=""></i>
                    </td>
                    <td width="90%" class="underlined">
                       <input class="ion-android-person" data-pack="android" data-tags="" type="text" ng-init="" ng-model="user.username" placeholder="rut" autofocus/>
                    </td>
                  </tr>
                  <tr>
                    <td width="10%" align="left">
                      <i class="ion-ios-locked-outline" data-pack="android" data-tags=""> </i>
                    </td>
                    <td width="90%" class="underlined">
                      <input type="password"  ng-model="user.password" placeholder="contraseña" />
                    </td>
                  </tr>  
                  <tr>
                      <td>&nbsp; </td>
                      <td> </td>
                 </tr>
                  <tr>
                    <td colspan="2" align="center">
                        <button class="btn-block" ng-click="signIn(user)"
                          <span class="state">entrar</span>
                        </button>  
                    </td>
                  </tr>    
               </table> 
               
              </div>
              <footer><a href="http://monroy-ramirez.cl">monroy-ramirez.cl</a></footer>
              </p>-->
       

       
